<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
<body>
<h1>Employee List</h1>
<a class="btn-add-emp" th:href="@{/addForm}">Add New Employee</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.empName}"></td>
        <td th:text="${employee.empEmail}"></td>
        <td th:text="${employee.empLocation}"></td>
        <td>
            <a class="view-color" th:href="@{/{id}(id=${employee.id})}">View</a>
            <a class="edit-color" th:href="@{/editForm/{id}(id=${employee.id})}">Edit</a>
            <a class="delete-color" th:href="@{/delete/{id}(id=${employee.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
